---
import type { Post } from "@content/schemas/posts.schema";
import { Image } from "astro:assets";

interface Props {
  post: Post;
}
const { post } = Astro.props;
---

<article class="group flex flex-col">
  <a href={`/${post.slug}`} class="flex flex-col">
    {
      post.coverImage && (
        <div class="aspect-4/3 overflow-hidden">
          <Image
            src={post.coverImage.smallUrl}
            alt={post.coverImage.altText}
            width={500}
            height={500}
            class="h-full w-full object-cover transition-transform duration-300 group-hover:scale-120"
          />
        </div>
      )
    }
    <h3 class="h4 text-offblack group-hover:text-primary">{post.title}</h3>
    <time datetime={post.publishedDate.toISOString()} class="text-neutral-dark text-sm">
      {post.publishedDate.toLocaleDateString("fr-FR", { year: "numeric", month: "long", day: "numeric" })}
    </time>
    <p>{post.excerpt}</p>
  </a>
</article>
