---
import type { BlogPost } from "@content/api/strapi/types";
import { Image } from "astro:assets";

interface Props {
  post: BlogPost;
}
const { post } = Astro.props;
---

<article>
  {
    post.coverImage && (
      <Image
        src={post.coverImage.url}
        alt={post.coverImage.altText}
        width={800}
        height={600}
      />
    )
  }
  <h2 class="h4">
    <a href={`/${post.slug}`}>{post.title}</a>
  </h2>
  <p>{post.excerpt}</p>
</article>
