---
import type { BlogPost } from "@content/api/strapi/types";
import { Image } from "astro:assets";

interface Props {
  post: BlogPost;
}
const { post } = Astro.props;
---

<article class="flex flex-col">
  {
    post.coverImage && (
      <Image
        src={post.coverImage.smallUrl}
        alt={post.coverImage.altText}
        width={500}
        height={500}
        class="w-full object-cover"
      />
    )
  }
  <h2 class="h4">
    <a href={`/${post.slug}`}>{post.title}</a>
  </h2>
  <p>{post.excerpt}</p>
</article>
